{% extends 'base.html' %}

{% block title %}Register{% endblock %}


{% block body %}
<h3>Register</h3>

<form method="POST"> {% csrf_token %}
    <p>
        {{ form.username.label }}
        {{ form.username }}
    </p>
    <p>
        {{ form.email.label }}
        {{ form.email }}
    </p>
    <p>
        {{ form.password1.label }}
        {{ form.password1 }}
    </p>
    <p>
        {{ form.password2.label }}
        {{ form.password2 }}
    </p>
    <input type="submit" name="CreateUser" value="Next">
</form>
{% endblock %}






